<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlmfOWSX0lCcYllDRk7CXaxfBUb4_LCBk</string>
	<key>GCM_SENDER_ID</key>
	<string>438781899306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thedbdevs.passManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>advanced-password-manger</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-password-manger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438781899306:ios:fd8c10d51a2f99d610c953</string>
</dict>
</plist>